* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    height: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
}

.header {
    height: 100px;
    width: 400px;
    background-color: #141F40;
}

.contents {
    height: 250px;
    width: 400px;
}

.left {
    height: 250px;
    width: 150px;
    background-color: #80BFA8;
    float: left;
}

.center-right {
    height: 250px;
    width: 250px;
    float: right;
}

.center-right-upper {   
    height: 150px;
    width: 250px;
}

.center-right-upper-left {
    float: left;
}

.center-right-upper-left-top {
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}

.center-right-upper-left-bottom {
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}

.center-right-upper-right {
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
    float: right;
}

.center-right-lower {
    height: 100px;
    width: 250px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}

@media screen and (max-width: 767px) {
    .header {
        width: 300px;
    }

    .contents {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .center-right {
        width: 200px;
    }

    .center-right-upper {
        width: 200px;
    }

    .center-right-upper-left {
        width: 125px;
    }

    .center-right-upper-right {
        width: 75px;
    }

    .center-right-lower {
        width: 200px;
    }

    .footer {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    
    #wrapper {
        height: 400px;
        width: 150px;
    }

    .header {
        height: 100px;
        width: 150px;
    }

    .contents {
        height: 200px;
        width: 150px;
    }

    .left {
        height: 200px;
        width: 150px;
        float: none;
    }

    .center-right {
        height: 200px;
        width: 150px;
        float: none;
    }

    .center-right-upper {
        height: 150px;
        width: 150px;
    }

    .center-right-upper-left {
        height: 150px;
        float: none;
    }

    .center-right-upper-left-top {
        height: 75px;
        width: 150px;
    }

    .center-right-upper-left-bottom {
        height: 75px;
        width: 150px;
    }

    .center-right-upper-right {
        height: 150px;
        width: 150px;
        float: none;
    }

    .center-right-lower {
        height: 50px;
        width: 150px;
    }

    .footer {
        height: 100px;
        width: 150px;
    }
}